@import 'nib';

*, *:before, *:after
  box-sizing border-box

body
  padding: 50px
  font: 14px "Open Sans", Helvetica, Arial, sans-serif
a
  color: #00B7FF

td
  vertical-align top
  padding 30px
  textarea
    height 600px
    width 400px

.branches
  margin 0
  padding 10px 0 0
  list-style none
  width 150px
  hr
    margin 10px 0
    border 0 none
    border-top 1px solid #ccc
  a
    text-decoration none
  .current
    a
      font-weight bold
h1
  margin-top 0
.merge
  float right
  margin-top 8px

#diff
  display none
  background #fff
  border-radius 5px
  padding 50px

#history
  display none
  background #fff
  border-radius 5px
  padding 50px

.pull-right
  float right
  a
    text-decoration none

.repo
  margin-top 20px
  border 1px solid #BBB
  color #888
  padding 6px
  border-radius 3px

.advanced
  color #999
  margin-top 20px
  display block
  font-size 11px

.repo
  display none
